repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
        exclude: ^roles
      - id: trailing-whitespace
      - id: trailing-whitespace
      - id: check-merge-conflict

  - repo: https://github.com/ansible/ansible-lint.git
    rev: v25.12.2
    hooks:
      - id: ansible-lint
        files: \.(yaml|yml)$
        exclude: ^roles
        language_version: python3.14
