if status --is-interactive
 abbr -a -g a argocd
 abbr -a -g ap ansible-playbook
 abbr -a -g btop bpytop
 abbr -a -g cdhm "cd ~/Documents/HOME_PROJECTS"
 abbr -a -g cdls "cd ~/Documents/LABLABS"
 abbr -a -g gc "git commit"
 abbr -a -g gph "git push"
 abbr -a -g gpl "git pull"
 abbr -a -g gup 'git commit -a -m "Update"; git push'
 abbr -a -g hg "history |grep"
 abbr -a -g k kubectl
 abbr -a -g d docker
 abbr -a -g dc docker-compose
 abbr -a -g os openstack
 abbr -a -g tf terraform
 abbr -a -g tfi "terraform init"
 abbr -a -g tfp "terraform plan"
 abbr -a -g tfa "terraform apply"
 abbr -a -g tfaa "terraform apply -auto-approve"
 abbr -a -g tfd "terraform destroy"
 abbr -a -g unsetk "set -e KUBECONFIG"
 abbr -a -g update "ansible-playbook ~/Documents/HOME_PROJECTS/ansible-laptop/site.yml"
 abbr -a -g scaleup "sudo /usr/bin/xrandr --output {{ second_display }} --scale {{ second_display_scale }}x{{ second_display_scale }}"
 abbr -a -g scaledown "sudo /usr/bin/xrandr --output {{ second_display }} --scale 1x1"
 abbr -a -g vpn-ras "sudo openconnect --protocol=anyconnect -u muransky --authgroup SSLVPN-LDAP firmavpn.azet.sk"
end