if status --is-interactive
  abbr -a -g a argocd
  abbr -a -g ag ansible-galaxy
  abbr -a -g ap ansible-playbook
  abbr -a -g al ansible-lint
  abbr -a -g btop bpytop
  abbr -a -g cdhm "cd ~/Documents/HOME_PROJECTS"
  abbr -a -g cdls "cd ~/Documents/LABLABS"
  abbr -a -g cdem "cd ~/Documents/EMBL"
  abbr -a -g gc "git commit"
  abbr -a -g gckt "git checkout (git branch -a | fzf | xargs)"
  abbr -a -g gph "git push"
  abbr -a -g gpl "git pull"
  abbr -a -g gup 'git commit -a -m "Update"; git push'
  abbr -a -g hg "history |grep"
  abbr -a -g k kubectl
  abbr -a -g d docker
  abbr -a -g dc docker-compose
  abbr -a -g os openstack
  abbr -a -g tf terraform
  abbr -a -g tfi "terraform init"
  abbr -a -g tfp "terraform plan"
  abbr -a -g tfa "terraform apply"
  abbr -a -g tfaa "terraform apply -auto-approve"
  abbr -a -g tfd "terraform destroy"
  abbr -a -g unsetk "set -e KUBECONFIG"
  abbr -a -g update "ANSIBLE_CONFIG=~/Documents/HOME_PROJECTS/ansible-laptop/ansible.cfg ansible-playbook ~/Documents/HOME_PROJECTS/ansible-laptop/site.yml -i ~/Documents/HOME_PROJECTS/ansible-laptop/inventory.yml"
end
