name: Ansible lint

on: [push, pull_request]

jobs:
  ansible_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint@main
        with:
          args: ""
          setup_python: "true"
          python_version: "3.14"
          working_directory: playbooks/
